* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #222;
  font-size: small;
  display: grid;
  grid-template-rows: 125px 2025px 90px;
  grid-template-areas: 'header'
                       'main'
                       'footer';
  min-width: 1100px;
}

header {
  padding: 20px 25px 0 13px;
  grid-area: header;
  background: #fafafa;
  border-bottom: 1px solid #e4e4e4;
  height: 125px;
}

main {
  height: 2100px;
  grid-area: main;
  text-align: left;
  margin: 15px 0 25px 150px;
}

footer {
  grid-area: footer;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}

span {
  margin-left: 15px;
  opacity: 0.6;
  font-size: 13px;
}

footer span {
  font-size: 15px;
  padding-top: 8px;
  margin-top: 6px;
}

footer a {
  color: #777;
  text-decoration: none;
}

footer a:hover {
  color: #333;
}

form {
  display: inline-block;
}

h2 {
  margin-top: 35px;
  margin-left: 28px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
}

div {
  display: inline-block;
}

nav {
  margin-left: 140px;
  position: relative;
  top: 12px;
}

li {
  line-height: 24px;
}

nav a {
  color: black;
  padding: 14px;
  opacity: 0.6;
  text-decoration: none;
}

nav a:hover {
  opacity: 1;
}

nav a:active {
  color: #1A73E8;
}

nav a.active-page {
  opacity: 1;
  font-weight: bold;
  color: #1A73E8;
  border-bottom: 3px solid #1A73E8;
}

#left-spaced {
  margin-left: 110px;
}

input#search-textbox {
  border: none;
  border-radius: 0;
  line-height: 40px;
  padding: 0 16px;
  font: 16px arial,sans-serif;
  line-height: 44px;
}

.rightmost {
  display: inline-block;
  float: right;
}

a#logo {
  display: inline-block;
}

a#apps {
  background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
  background-size: 528px 68px;
  background-position: -132px -38px;
  display: inline-block;
  outline: none;
  vertical-align: middle;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  opacity: 0.6;
}

a#apps:hover {
  opacity: 0.9;
}

button#login-button {
  border-radius: 0;
  border: 1px solid #4285f4;
  background: #4387fd;
  font-family: arial,sans-serif;
  font-weight: 700;
  font-size: small;
  color: #fff;
  border-radius: 2px;
  line-height: 28px;
  padding: 0 12px;
  margin-left: 5px;
}

button#login-button:hover {
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

button#login-button:active {
  background: #3c7ae4;
  box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
}

div#search-header {
  display: inline-block;
}

div#search-box {
  border-radius: 2px;
  margin-left: 15px;
  background: #fff;
  border: 1px solid #dadada;
  box-shadow: 3px 3px 5px -5px #444;
  position: relative;
  bottom: 15px;
}

div#search-box:hover {
  box-shadow: 3px 3px 7px -5px #555;
}

img#mag-glass {
  display: inline;
  position: absolute;
  top: 15px;
  right: 20px;
}

div#featured-result {
  width: 630px;
  font-size: 16px;
  padding: 17px;
  margin-top: 25px;
  border: 1px solid #dadada;
  box-shadow: 0px 3px 5px -5px #444;
}

div#featured-result ol {
  position: relative;
  left: 15px;
  line-height: 15px;
}

div#featured-result p {
  font-weight: bold;
  width: 370px;
  margin-bottom: 15px;
}

#moreitems {
  display: block;
  opacity: 0.6;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  margin: 15px 0;
}

.site-title {
  display: block;
  color: #1a0dab;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
}

.site-title:hover {
  text-decoration: underline;
}

.site-url {
  color: #006621;
  font-size: 14px;
  line-height: 16px;
  opacity: 1;
  padding: 0;
  margin: 0;
}

.site-description {
  line-height: 1.4;
  color: #545454;
  font-size: small;
}

.result-entry {
  display: block;
  width: 610px;
  margin: 28px 0 0 20px;
}

.related-link {
  float: left;
  clear: left;
  display: inline;
  color: #1a0dab;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 28px;
  margin-bottom: 6px;
}

.related-link:hover {
  text-decoration: underline;
}

.g-character {
  width: 28px;
  height: 28px;
}

.google-character {
  width: 20px;
  height: 20px;
}

.gle {
  width: 50px;
  height: 40px;
}

.index-link {
  display: inline-block;
  width: 20px;
  text-align: center;
  position: relative;
  top: 17px;
  text-decoration: none;
  color: #4285f4;
}

.index-link:hover {
  text-decoration: underline;
}

#first-o {
  color: black;
}

#first-o:hover {
  text-decoration: none;
}

#pages-index {
  display: block;
  clear: left;
  height: 100px;
  margin-left: 170px;
}

#thumbnail {
  float: right;
  cursor: pointer;
}

#country {
  margin-left: 150px;
  display: inline-block;
  height: 35px;
  padding-right: 22px;
  border-right: 1px solid #ddd;
}

#ip-location {
  color: #aaa;
  font-size: small;
  opacity: 1;
}

#last-line {
  margin-top: 5px;
  display: block;
  border-top: 1px solid #ddd;
  padding-top: 11px;
  padding-left: 150px
}

#last-line a {
  margin-right: 27px;
}
